*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background-color: rgba(0, 0, 0, 0.825);
}

.header {
    background-color: rgba(243, 10, 10, 0.508);
    padding: 20px;
    margin: 10px;
   
}
@media only screen and (max-width: 576px) {
    .header {
        width: 500px;
    }
}
@media only screen and (max-width: 576px) {
    h1 {
        display: flex;
        justify-content: center;
        color: red;
        width: 500px;
        background-color: black;
        margin: auto;
        padding: auto;
       
    }
}
.img-logo{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
@media only screen and (max-width: 576px) {
    .img-logo {
        width: 150px;
        height: 100px;
        object-fit: cover;
    }
}
.header-nav {
    display: flex;
    justify-content: space-around;
    justify-content: end;
   
   /* width: 1780px;*/
    
}
.list-nav {
    display: flex;
    justify-content: end;
    gap: 30px;
    position: absolute;
    top: 100px;
  
   
   
   
    

}
@media only screen and (max-width: 992px) {
    .list-nav {
        display: flex;
        justify-content: end;
        width: 500px;
        gap: 20px;
        position: absolute;
        top: 90px;
        right: 60px;
        
      
       
       
    }
}
@media only screen and (max-width: 576px) {
    .list-nav {
        display: flex;
        justify-content: end;
        width: 500px;
        gap: 20px;
        position: absolute;
        top: 80px;
        right: 120px;
        
      
       
       
    }
}
h3 {
    display: flex;
    justify-content: end;
    position: absolute;
    color: white;
    width: 1700px;
    left: 160px;
    top: 40px;
}

@media only screen and (max-width: 992px) {
    h3 {
     width: 770px;   

    }
}
@media only screen and (max-width: 576px) {
    h3 {
        width: 300px;
        display: flex;
        justify-content: end;
        position: absolute;
        top: 35px;
        left: 140px;

    }
}
.img-redes {
    width: 30px;
}
.tittle{
    display: flex;
    justify-content: baseline;
    padding: 10px;
    margin: 10px;
    color: red;



}
@media only screen and (max-width: 576px) {
    .tittle {
        display: flex;
        justify-content: baseline;
        padding: 10px;
        margin: 10px;
        color: red;
        width: 500px;
      
    }
}
.parra-1{
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    font-size: 1.5rem;
}
@media only screen and (max-width: 576px) {
    .parra-1{
        background-color: aquamarine;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 500px;
    }
}
@media only screen and (max-width: 992px) {
    .parra-1 {
        background-color: gray;
        color: white;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
    }
}
.autos-url {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    
}
@media only screen and (max-width: 576px) {
    .autos-url {
        margin: 10px;
        font-size: 15px;
        background-color: black;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 500px;
    }
}


a:visited{
    color: white;
}
.img-carrusel {
    position: relative;
    object-fit: cover;
    left: 400px;
    width: 1200px;
    height: 900px;
    

}

@media only screen and (max-width: 992px) {
    .img-carrusel{
        position: relative;
        left: 100px;
        width: 800px;
        height: 700px;
    }
}
@media only screen and (max-width: 576px) {
    .img-carrusel{
        position: relative;
        left: 20px;
        width: 500px;
        height: 400px;
    }
}
.imagen-autos{
    width: 600px;
    height: 500px;
    border: 1px solid red;
    object-fit: cover;
    margin: auto;
    padding: auto;

}

@media only screen and (max-width: 992px) {
    .imagen-autos {
        width: 300px;
        height: 300px;
       

    }

}
@media only screen and (max-width: 576px) {
    .imagen-autos {
        width: 500px;
        height: 400px;
    
    }

}
@media only screen and (max-width: 992px) {
    #camionetas {
        width: 930px;
    }
    
    }
@media only screen and (max-width: 576px) {
#camionetas {
    width: 500px;
}

}
.img-camionetas{
    border: 1px solid red;
    width: 600px;
    height: 500px;
    object-fit: cover;
   
    
   
}
@media only screen and (max-width: 992px) {
    .img-camionetas {
        width: 300px;
        height: 300px;

    }
}
@media only screen and (max-width: 576px) {
    .img-camionetas {
        width: 500px;
        height: 400px;
        gap: 10px;
    }

}
.caja-camionetas {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  
}
@media only screen and (max-width: 576px) {
    .caja-camionetas {
       display: flex;
       flex-wrap: wrap;
       gap: 10px;
    }
}
.precio-camioneta {
    color: white;
    width: 550px;
    margin: 10px;
    padding: 20px;
    background-color: black;
    font-size: 1rem;
    text-align: center;
}
@media only screen and (max-width: 992px) {
    .precio-camioneta {
        width: 270px;

    }

}
@media only screen and (max-width: 576px) {
    .precio-camioneta {
        text-align: center;
        width: 450px;
    }
}
.parra-2{
    color: white ;
    margin: 15px;
    padding: 15px;
    font-family: Times, serif;
    font-size: 1.3rem;
}
@media only screen and (max-width: 576px) {
    .parra-2 {
        font-size: 1rem;
        background-color: cadetblue;
        color: black;
        font-size: 20px;
        width: 500px;
       
    }
}
@media only screen and (max-width: 992px) {
    .parra-2 {
        color: white;
        background-color: gray;
        font-size: large;
        font-family: 'Arial Narrow', Arial,;
      
    }
}

h2 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: white;
    font-size: 40px;
}

@media only screen and (max-width: 576px) {
    h2 {
        text-align: center;
        margin: 20px;
        padding: 20px;
        color: black;
        background-color: white;
        font-size: 30px;
        width: 500px;  
    }
}
h4 {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    width: 1850px;
}
#nuevos {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    width: 1850px;
}
@media only screen and (max-width: 992px) {
    #nuevos {
        text-align: center;
        background-color: white;
        color: black;
        font-size: 40px;
        width: 950px;
    }
}
@media only screen and (max-width: 576px) {
    #nuevos {
        text-align: center;
        background-color: white;
        color: black;
        font-size: 30px;
        width: 500px;
    }
}

#usados {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    width: 1850px;
}

@media only screen and (max-width: 992px) {
    #usados {
        text-align: center;
        background-color: white;
        color: black;
        font-size: 40px;
        width: 950px;
    }
}
@media only screen and (max-width: 576px) {
    #usados {
        text-align: center;
        background-color: white;
        color: black;
        font-size: 30px;
        width: 500px;
    }
}
.precios {
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: black;
    font-size: 1rem;
    text-align: center;
}
@media only screen and (max-width: 576px) {
    .precios {
        text-align: center;
        width: 450px;
    }
}
.img-repuestos {
    width: 500px;
    height: 400px;
    border: 1px solid red;
}
@media only screen and (min-width: 576px){
    .img-repuestos {
        width: 600px;
        height: 300px;
    }
}
.grid-container {
    display: grid;
    grid-template-rows:repeat(2, 400px);
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    
   
   
}
@media only screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto;
        gap: 10px;
        margin: 10px;        
}
}

@media only screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;    
}
}
@media only screen and (max-width: 992px) {
    .img-repuestos {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 576px) {
    .img-repuestos {
        width: 500px;
        height: 400px;
       
    }

}
.maps {
    position: relative;
    left: 550px;
    width: 800px;
    height: 400px;
    border: 2px solid red;
}
@media only screen and (max-width: 992px) {
    .maps {
        position: relative;
        left: 100px;
    }

}
@media only screen and (max-width: 576px) {
    .maps {
        margin: 10px;
        position: relative;
        left: 0px;
        width: 520px;
        height: 500px;

    }
}