main {
   



    .precios {
        color: white;
        margin: 20px;
        padding: 20px;
        background-color: black;
        font-size: 1rem;
        text-align: center;
        border-radius: 10px;
    }

    
   

    .caja-camionetas {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    
        .img-camionetas{
           @include imagenes(600px, 500px, cover, 30px, 10px)
        }
    
        .precio-camioneta {
            margin-left: 100px;
            color: white;
            padding: 10px;
            background-color: black;
            font-size: 1rem;
            text-align: center;
            border-radius: 10px;
            width: 450px;
        }
      
    }
    

    .grid-container {
        display: grid;
        grid-template-rows:repeat(2, 400px);
        grid-template-columns:repeat(3, 1fr);
        gap: 10px;
    
        .img-repuestos {
            @include imagenes (600px, 400px, cover, 200px, 10px)
           
        }
        
    }
    




   
}