
@media only screen and (max-width: 576px) {
    .img-logo {
         
         object-fit: cover;
        
         
     }
 }

@media only screen and (max-width: 576px) {
    .navbar .navbar-nav{
        display: flex;
        flex-direction: row;
        background-color: black;
        border-radius: 10px;
        flex-wrap: wrap;
     
   
   
    a {
       text-decoration: none;
       font-size: 13px;
      
    }    
  } 
}
 

@media only screen and (max-width: 576px)  {
    h1 {
        font-size: 25px;
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        color: $color-black;
        &:hover {
            color:$color-red;
        }
    }
}

@media only screen and (max-width: 576px) {
    p  {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 576px) {
    h2 {
        background-color: white;
        color: $color-black;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 992px) {
    .imagen-autos {
       
        object-fit: cover;
    
    }
}

@media only screen and (max-width: 576px) {
    .imagen-autos {
        
        object-fit: cover;
    
    }
}
@media only screen and (max-width: 992px) {
    .img-camionetas {
        
        object-fit: cover;
        

    }
}
@media only screen and (max-width: 576px) {
    .img-camionetas {
        
        object-fit: cover;

    }
}


@media only screen and (max-width: 576px) {
    .caja-camionetas {
       display: flex;
       flex-wrap: wrap;
       gap: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .img-repuestos {

        object-fit: cover;  
    }                  
    }
@media only screen and (max-width: 576px) {
       main .grid-container {
            grid-template-columns:repeat(1, 1fr);
          
           
            
            @media only screen and (max-width: 576px) {
                .img-repuestos {
                
                    object-fit: cover;
                   
                }
            }
        }
}


@media only screen and (max-width: 992px) {
    .redes-sociales {
        display: flex;
        margin-top: -120px;
        
        .img-redes {
            width: 90px;
            
            
            
        }
    }
}
@media only screen and (max-width: 576px) {
    .redes-sociales {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        margin: 1px;
        margin-top: -100px;
        .img-redes {
            width: 70px;
            
            
        }

    }
}

@media only screen and (max-width: 576px) {
    h5 {
        margin: 10px;
        margin-left: 20px;
      
    }
}














