
@media only screen and (max-width: 576px) {
    .img-logo {
         width: 300px;
         height: 200px;
         object-fit: cover;
         
     }
 }

@media only screen and (max-width: 576px) {
    .nabvar {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    position: absolute;
    left: 390px;
    top: 35px;
    a {
       text-decoration: none;
       font-size: 15px;
    }    
}
 }

@media only screen and (max-width: 576px)  {
    h1 {
        width: 300px;
        font-size: 25px;
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        color: $color-black;
        &:hover {
            color:$color-red;
        }
    }
}

@media only screen and (max-width: 576px) {
    p  {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 992px) {
    .img-carrusel {
        position: relative;
        object-fit: cover;
        top: 10px;
        left: 10px;
        width: 900px;
        height: 700px;
    }
}
@media only screen and (max-width: 576px) {
    .img-carrusel {
        position: relative;
        top: 10px;
        object-fit: cover;
        left: 1px;
        width: 500px;
        height: 500px;
    }
}
@media only screen and (max-width: 576px) {
    h2 {
        background-color: white;
        color: $color-black;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 992px) {
    .imagen-autos {
        width: 300px;
        height: 300px;
        object-fit: cover;
    
    }
}

@media only screen and (max-width: 576px) {
    .imagen-autos {
        width: 550px;
        height: 500px;
        object-fit: cover;
    
    }
}
@media only screen and (max-width: 992px) {
    .img-camionetas {
        width: 300px;
        height: 300px;
        object-fit: cover;
        

    }
}
@media only screen and (max-width: 576px) {
    .img-camionetas {
        width: 550px;
        height: 500px;
        object-fit: cover;

    }
}


@media only screen and (max-width: 576px) {
    .caja-camionetas {
       display: flex;
       flex-wrap: wrap;
       gap: 10px;
    }
}
@media only screen and (max-width: 992px) {
    .img-repuestos {
        width: 300px;
        height: 300px;
        object-fit: cover;  
    }                  
    }
@media only screen and (max-width: 576px) {
       main .grid-container {
            grid-template-columns:repeat(1, 1fr);
          
           
            
            @media only screen and (max-width: 576px) {
                .img-repuestos {
                    width: 500px;
                    height: 400px;
                    object-fit: cover;
                   
                }
            }
        }
}


@media only screen and (max-width: 992px) {
    .redes-sociales {
        display: flex;
        justify-content:space-around;
        gap: 40px;
        margin: 10px;
        margin-left: 10px;
        margin-top: -150px;
        .img-redes {
            width: 90px;
            margin: 10px;
            
            
        }
    }
}
@media only screen and (max-width: 576px) {
    .redes-sociales {
        display: flex;
        justify-content: baseline;
        gap: 10px;
        margin: 10px;
        margin-left: 5px;
        margin-top: -130px;

        .img-redes {
            width: 70px;
            
            
        }

    }
}
@media only screen and (max-width: 992px) {
    h5 {
        margin: 10px;
        margin-left: 20px;
        width: 920px;
        height: 200px;
    }
}

@media only screen and (max-width: 576px) {
    h5 {
        margin: 10px;
        margin-left: 20px;
        width: 500px;
        height: 200px;
    }
}














