
.img-redes{
    width: 100px;
   
}
h5 {
    display: flex;
    justify-content: center;
    height: 200px;
   
   
}
.redes-sociales {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: -120px;
  
    
}
