*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Arial;
      
}
body {
    background-color: rgba(0, 0, 0, 0.825);
}
.img-logo{
    width:100%;
    height: 300px;
    object-fit: cover;
    margin:$main-margin;
    padding: $main-padding;
    border-radius: 50px;
   

    
}
h1{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 50px;
    padding: 10px;
    margin:$main-margin;
    color: red;
    background-color: $color-black;
    transition: 0.5s;
    border: none;
    border-radius: 50px;
    
    

    &:hover {
        color: white;
    }
}

p{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    margin: $main-margin;
    padding: $main-padding;
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 20px;
   
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: $main-margin;
    padding:$main-padding;
    color: $color-red;
    background-color: $color-black;
    border: none;
    border-radius: 50px;
 }
 

h5 {
    background-color: $color-black;
    color: white;
    font-size: $main-size;
    margin:$main-margin;
    padding:$main-padding;
    border-radius: 50px;
}


 #nuevos {
    text-align: center;
    background-color:$color-black;
    color: $color-red;
    font-size: $main-size;
    padding: 20px;
    border-radius: 50px;
}
#usados {
    padding: 20px;
    text-align: center;
    background-color: $color-black;
    color: $color-red;
    font-size: $main-size;
    border-radius: 50px;
    
}
#camionetas {
    padding: 20px;
    text-align: center;
    background-color: $color-black;
    color: $color-red;
    font-size: $main-size;
    border-radius: 50px;
}
#repuestos {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: $color-black;
    color:$color-red;
    font-size:$main-size;
    border-radius: 50px;
}