*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic
      
}
body {
    background-color: rgba(0, 0, 0, 0.825);
}
.img-logo{
    width: 500px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    padding: 10px;
   

    
}
h1{
    display: flex;
    justify-content:center;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    color: red;
    background-color: black;
    transition: 0.5s;
    border: none;
    border-radius: 50px;

    &:hover {
        color: white;
    }
}

p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
 }
 

h5 {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
}


 #nuevos {
    text-align: center;
    background-color:white;
    color: black;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 50px;
}
#usados {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    border: none;
    border-radius: 50px;
    
}
#camionetas {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    border: none;
    border-radius: 50px;
}
#repuestos {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 40px;
    border: none;
    border-radius: 50px;
}