@mixin imagenes($w, $h, $obj,$bor,$padd) {
    width: $w;
    height: $h;
    object-fit: $obj;
    border-radius: $bor;
    padding: $padd;

}

.imagen-autos {
    @include imagenes (100%, 450px, cover, 30px, 10px)
}
.img-repuestos {
    @include imagenes (100%, 400px, cover, 200px, 10px)
   
}
.img-camionetas{
    @include imagenes(100%, 500px, cover, 30px, 10px)
}